# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# To run against all files:
#     pre-commit run --all-files
# To install hooks:
#     pre-commit install
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-ast

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.8.0.4
    hooks:
      - id: shellcheck

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.6.2"
    hooks:
      - id: prettier

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.4"
    hooks:
      - id: bandit
        additional_dependencies: [toml==0.10.2]
        args: [--recursive, --quiet, --configfile, pyproject.toml]

  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort

  - repo: https://github.com/psf/black
    rev: 22.8.0
    hooks:
      - id: black
        language_version: python3.10

  - repo: https://gitlab.com/pycqa/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear==22.9.11
          - flake8-builtins==1.5.3
          - flake8-comprehensions==3.10.0
          - flake8-docstrings==1.6.0
          - flake8-plugin-utils==1.3.2
          - flake8-polyfill==1.0.2
          - Flake8-pyproject==1.1.0.post0
          - flake8-pytest-style==1.6.0
          - flake8-typing-imports==1.13.0
          - flake8-unused-arguments==0.0.11
          - pyflakes==2.5.0
          - pep8-naming==0.13.2

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v0.971"
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic==1.10.2
          - pytest==7.1.3
          - sqlmodel==0.0.8
          - types-PyYAML==6.0.11
          - types-requests==2.28.10
          - types-setuptools==65.3.0
          - types-SQLAlchemy==1.4.51
          - types-toml==0.10.8
          - types-urllib3==1.26.24
          - typing_extensions==4.3.0

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.4.0
    hooks:
      - id: markdownlint-cli2

  - repo: local
    hooks:
      - id: match-requirements
        additional_dependencies:
          - PyYAML==6.0
          - toml==0.10.2
        name: match-requirements
        entry: python ./utils/match-requirements.py
        language: python
        language_version: "3.10"
        pass_filenames: false
        files: ".pre-commit-config.yaml|requirements-prod.txt|requirements-dev.txt|pyproject.toml"
      - id: ensure-prod-reqs
        additional_dependencies:
          - pipreqs==0.4.11
        name: ensure-prod-reqs
        entry: python ./utils/ensure-prod-reqs.py
        language: python
        language_version: "3.10"
        pass_filenames: false
        files: "requirements-prod.txt|pyproject.toml|api/*.py"
