services:
  app:
    container_name: fastapi
    restart: unless-stopped
    build:
      context: .
      dockerfile: ./docker/Dockerfile-api
    env_file:
      # environment variables from later env files override those from earlier ones
      - .env.dev
      - .env
    environment:
      - POSTGRES_HOST=postgres
    command: gunicorn -w 4 -k uvicorn.workers.UvicornWorker --bind 0.0.0.0:8000 "api.app:app"
    expose:
      - 8000

  postgres:
    container_name: postgres
    image: postgres:13.3
    restart: unless-stopped
    env_file:
      # environment variables from later env files override those from earlier ones
      - .env.dev
      - .env
    volumes:
      - ./postgres:/var/lib/postgresql/data
    ports:
      - 5432:5432
    environment:
      # Need this to volume mount the postgres data
      - PGDATA=/var/lib/postgresql/data/pgdata

  nginx:
    build:
      context: .
      dockerfile: ./docker/Dockerfile-nginx
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    command: '/bin/sh -c ''while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g "daemon off;"'''
    depends_on:
      - app
